/*
* @Author: YouJDP
* @Date:   2018-04-05 22:51:34
* @Last Modified by:   YouJDP
* @Last Modified time: 2018-03-02 16:29:57
*/
.btn-send-goods{
    margin-left: 20px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}